[ req ]
prompt                 = no 
default_bits           = 2048
default_keyfile        = ./Cert/key.pem
distinguished_name     = req_distinguished_name
attributes             = req_attributes
x509_extensions        = v3_ca

dirstring_type = nobmp

[ req_distinguished_name ]

C                      = CN
ST                     = BeiJing
L                      = BeiJing
O                      = k8s
OU                     = k8s
CN                     = kube-proxy
emailAddress           = kube-proxy@k8s.com

[ req_attributes ]
#challengePassword      = ""

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true
