[ req ]
prompt                 = yes
default_bits           = 2048
default_keyfile        = ./admin_cluster/admin_cluster-key.pem
distinguished_name     = req_distinguished_name
attributes             = req_attributes
x509_extensions        = v3_ca

dirstring_type = nobmp

[ req_distinguished_name ]


countryName                    = Country Name (2 letter code)
countryName_default            = CN
countryName_min                = 2
countryName_max                = 2

localityName                   = Locality Name (eg, city)
localityName_default           = BeiJing

organizationalUnitName         = Organizational Unit Name (eg, section)
organizationalUnitName_default = k8s

commonName                     = Common Name (eg, YOUR name)
commonName_default             = admin_cluster
commonName_max                 = 64

emailAddress                   = Email Address
emailAddress_default           = admin_cluster@k8s.com
emailAddress_max               = 40


[ req_attributes ]
challengePassword              = A challenge password
challengePassword_min          = 4
challengePassword_max          = 20

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true
